# coding: utf-8

"""
    ElevenLabs API Documentation

    This is the documentation for the ElevenLabs API. You can use this API to use our service programmatically, this is done by using your xi-api-key. <br/> You can view your xi-api-key using the 'Profile' tab on https://beta.elevenlabs.io. Our API is experimental so all endpoints are subject to change.  # noqa: E501

    OpenAPI spec version: 1.0
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from eleven_tts.api_client import ApiClient


class SamplesApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def delete_sample_v1_voices_voice_id_samples_sample_id_delete(self, voice_id, sample_id, **kwargs):  # noqa: E501
        """Delete Sample  # noqa: E501

        Removes a sample by its ID.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_sample_v1_voices_voice_id_samples_sample_id_delete(voice_id, sample_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str voice_id: Voice ID to be used, you can use https://api.elevenlabs.io/v1/voices to list all the available voices. (required)
        :param str sample_id: Sample ID to be used, you can use GET https://api.elevenlabs.io/v1/voices/{voice_id} to list all the available samples for a voice. (required)
        :param str xi_api_key: Your API key. This is required by most endpoints to access our API programatically. You can view your xi-api-key using the 'Profile' tab on the website.
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.delete_sample_v1_voices_voice_id_samples_sample_id_delete_with_http_info(voice_id, sample_id, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_sample_v1_voices_voice_id_samples_sample_id_delete_with_http_info(voice_id, sample_id, **kwargs)  # noqa: E501
            return data

    def delete_sample_v1_voices_voice_id_samples_sample_id_delete_with_http_info(self, voice_id, sample_id, **kwargs):  # noqa: E501
        """Delete Sample  # noqa: E501

        Removes a sample by its ID.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_sample_v1_voices_voice_id_samples_sample_id_delete_with_http_info(voice_id, sample_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str voice_id: Voice ID to be used, you can use https://api.elevenlabs.io/v1/voices to list all the available voices. (required)
        :param str sample_id: Sample ID to be used, you can use GET https://api.elevenlabs.io/v1/voices/{voice_id} to list all the available samples for a voice. (required)
        :param str xi_api_key: Your API key. This is required by most endpoints to access our API programatically. You can view your xi-api-key using the 'Profile' tab on the website.
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['voice_id', 'sample_id', 'xi_api_key']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_sample_v1_voices_voice_id_samples_sample_id_delete" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'voice_id' is set
        if ('voice_id' not in params or
                params['voice_id'] is None):
            raise ValueError("Missing the required parameter `voice_id` when calling `delete_sample_v1_voices_voice_id_samples_sample_id_delete`")  # noqa: E501
        # verify the required parameter 'sample_id' is set
        if ('sample_id' not in params or
                params['sample_id'] is None):
            raise ValueError("Missing the required parameter `sample_id` when calling `delete_sample_v1_voices_voice_id_samples_sample_id_delete`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'voice_id' in params:
            path_params['voice_id'] = params['voice_id']  # noqa: E501
        if 'sample_id' in params:
            path_params['sample_id'] = params['sample_id']  # noqa: E501

        query_params = []

        header_params = {}
        if 'xi_api_key' in params:
            header_params['xi-api-key'] = params['xi_api_key']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/v1/voices/{voice_id}/samples/{sample_id}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='object',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_audio_from_sample_v1_voices_voice_id_samples_sample_id_audio_get(self, voice_id, sample_id, **kwargs):  # noqa: E501
        """Get Audio From Sample  # noqa: E501

        Returns the audio corresponding to a sample attached to a voice.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_audio_from_sample_v1_voices_voice_id_samples_sample_id_audio_get(voice_id, sample_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str voice_id: Voice ID to be used, you can use https://api.elevenlabs.io/v1/voices to list all the available voices. (required)
        :param str sample_id: Sample ID to be used, you can use GET https://api.elevenlabs.io/v1/voices/{voice_id} to list all the available samples for a voice. (required)
        :param str xi_api_key: Your API key. This is required by most endpoints to access our API programatically. You can view your xi-api-key using the 'Profile' tab on the website.
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_audio_from_sample_v1_voices_voice_id_samples_sample_id_audio_get_with_http_info(voice_id, sample_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_audio_from_sample_v1_voices_voice_id_samples_sample_id_audio_get_with_http_info(voice_id, sample_id, **kwargs)  # noqa: E501
            return data

    def get_audio_from_sample_v1_voices_voice_id_samples_sample_id_audio_get_with_http_info(self, voice_id, sample_id, **kwargs):  # noqa: E501
        """Get Audio From Sample  # noqa: E501

        Returns the audio corresponding to a sample attached to a voice.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_audio_from_sample_v1_voices_voice_id_samples_sample_id_audio_get_with_http_info(voice_id, sample_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str voice_id: Voice ID to be used, you can use https://api.elevenlabs.io/v1/voices to list all the available voices. (required)
        :param str sample_id: Sample ID to be used, you can use GET https://api.elevenlabs.io/v1/voices/{voice_id} to list all the available samples for a voice. (required)
        :param str xi_api_key: Your API key. This is required by most endpoints to access our API programatically. You can view your xi-api-key using the 'Profile' tab on the website.
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['voice_id', 'sample_id', 'xi_api_key']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_audio_from_sample_v1_voices_voice_id_samples_sample_id_audio_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'voice_id' is set
        if ('voice_id' not in params or
                params['voice_id'] is None):
            raise ValueError("Missing the required parameter `voice_id` when calling `get_audio_from_sample_v1_voices_voice_id_samples_sample_id_audio_get`")  # noqa: E501
        # verify the required parameter 'sample_id' is set
        if ('sample_id' not in params or
                params['sample_id'] is None):
            raise ValueError("Missing the required parameter `sample_id` when calling `get_audio_from_sample_v1_voices_voice_id_samples_sample_id_audio_get`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'voice_id' in params:
            path_params['voice_id'] = params['voice_id']  # noqa: E501
        if 'sample_id' in params:
            path_params['sample_id'] = params['sample_id']  # noqa: E501

        query_params = []

        header_params = {}
        if 'xi_api_key' in params:
            header_params['xi-api-key'] = params['xi_api_key']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['audio/*', 'application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/v1/voices/{voice_id}/samples/{sample_id}/audio', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
