# coding: utf-8

"""
    ElevenLabs API Documentation

    This is the documentation for the ElevenLabs API. You can use this API to use our service programmatically, this is done by using your xi-api-key. <br/> You can view your xi-api-key using the 'Profile' tab on https://beta.elevenlabs.io. Our API is experimental so all endpoints are subject to change.  # noqa: E501

    OpenAPI spec version: 1.0
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from eleven_tts.api_client import ApiClient


class TextToSpeechApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def text_to_speech_v1_text_to_speech_voice_id_post(self, body, voice_id, **kwargs):  # noqa: E501
        """Text To Speech  # noqa: E501

        Converts text into speech using a voice of your choice and returns audio.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.text_to_speech_v1_text_to_speech_voice_id_post(body, voice_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param ElevenBodyTextToSpeechV1TextToSpeechVoiceIdPost body: (required)
        :param str voice_id: Voice ID to be used, you can use https://api.elevenlabs.io/v1/voices to list all the available voices. (required)
        :param str xi_api_key: Your API key. This is required by most endpoints to access our API programatically. You can view your xi-api-key using the 'Profile' tab on the website.
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.text_to_speech_v1_text_to_speech_voice_id_post_with_http_info(body, voice_id, **kwargs)  # noqa: E501
        else:
            (data) = self.text_to_speech_v1_text_to_speech_voice_id_post_with_http_info(body, voice_id, **kwargs)  # noqa: E501
            return data

    def text_to_speech_v1_text_to_speech_voice_id_post_with_http_info(self, body, voice_id, **kwargs):  # noqa: E501
        """Text To Speech  # noqa: E501

        Converts text into speech using a voice of your choice and returns audio.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.text_to_speech_v1_text_to_speech_voice_id_post_with_http_info(body, voice_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param ElevenBodyTextToSpeechV1TextToSpeechVoiceIdPost body: (required)
        :param str voice_id: Voice ID to be used, you can use https://api.elevenlabs.io/v1/voices to list all the available voices. (required)
        :param str xi_api_key: Your API key. This is required by most endpoints to access our API programatically. You can view your xi-api-key using the 'Profile' tab on the website.
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'voice_id', 'xi_api_key']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method text_to_speech_v1_text_to_speech_voice_id_post" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `text_to_speech_v1_text_to_speech_voice_id_post`")  # noqa: E501
        # verify the required parameter 'voice_id' is set
        if ('voice_id' not in params or
                params['voice_id'] is None):
            raise ValueError("Missing the required parameter `voice_id` when calling `text_to_speech_v1_text_to_speech_voice_id_post`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'voice_id' in params:
            path_params['voice_id'] = params['voice_id']  # noqa: E501

        query_params = []

        header_params = {}
        if 'xi_api_key' in params:
            header_params['xi-api-key'] = params['xi_api_key']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['audio/mpeg', 'application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/v1/text-to-speech/{voice_id}', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def text_to_speech_v1_text_to_speech_voice_id_stream_post(self, body, voice_id, **kwargs):  # noqa: E501
        """Text To Speech  # noqa: E501

        Converts text into speech using a voice of your choice and returns audio as an audio stream.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.text_to_speech_v1_text_to_speech_voice_id_stream_post(body, voice_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param ElevenBodyTextToSpeechV1TextToSpeechVoiceIdStreamPost body: (required)
        :param str voice_id: Voice ID to be used, you can use https://api.elevenlabs.io/v1/voices to list all the available voices. (required)
        :param str xi_api_key: Your API key. This is required by most endpoints to access our API programatically. You can view your xi-api-key using the 'Profile' tab on the website.
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.text_to_speech_v1_text_to_speech_voice_id_stream_post_with_http_info(body, voice_id, **kwargs)  # noqa: E501
        else:
            (data) = self.text_to_speech_v1_text_to_speech_voice_id_stream_post_with_http_info(body, voice_id, **kwargs)  # noqa: E501
            return data

    def text_to_speech_v1_text_to_speech_voice_id_stream_post_with_http_info(self, body, voice_id, **kwargs):  # noqa: E501
        """Text To Speech  # noqa: E501

        Converts text into speech using a voice of your choice and returns audio as an audio stream.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.text_to_speech_v1_text_to_speech_voice_id_stream_post_with_http_info(body, voice_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param ElevenBodyTextToSpeechV1TextToSpeechVoiceIdStreamPost body: (required)
        :param str voice_id: Voice ID to be used, you can use https://api.elevenlabs.io/v1/voices to list all the available voices. (required)
        :param str xi_api_key: Your API key. This is required by most endpoints to access our API programatically. You can view your xi-api-key using the 'Profile' tab on the website.
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'voice_id', 'xi_api_key']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method text_to_speech_v1_text_to_speech_voice_id_stream_post" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `text_to_speech_v1_text_to_speech_voice_id_stream_post`")  # noqa: E501
        # verify the required parameter 'voice_id' is set
        if ('voice_id' not in params or
                params['voice_id'] is None):
            raise ValueError("Missing the required parameter `voice_id` when calling `text_to_speech_v1_text_to_speech_voice_id_stream_post`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'voice_id' in params:
            path_params['voice_id'] = params['voice_id']  # noqa: E501

        query_params = []

        header_params = {}
        if 'xi_api_key' in params:
            header_params['xi-api-key'] = params['xi_api_key']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/v1/text-to-speech/{voice_id}/stream', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
